{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/stylehome.css' %}" />
    <title>Data Base</title>
  </head>
  <body>
    <div class="menu-bar">
      <h1 class="logo"><span>E-Learning</span></h1>
      <ul>
        <li><a href="#">PANDUAN</a>
        </li>
        <li><a>PERSIAPAN</a>
            

        <li><a>PEMBELAJARAN</a>
        </li>
        <li><a>EVALUASI</a>
        </li>
        
      </ul>
    </div>

    <div class="hero">
        <section class="home">
          
              <img src="https://i.postimg.cc/NfRgpt4J/Cover-2.png" width ="1347px" height="510px">
          
        </section>
    
      &nbsp;
    </div>
    <h1>Pembelajaran E-Learning pada Pusat Pendidikan dan Pelatihan Perpustakaan Nasional RI</h1>
    <ol>
    <P>Menghadapi pandemi Covid-19 yang tidak tahu kapan akan berakhir, berbagai lembaga pendidikan maupun pelatihan mengubah pembelajarannya melalui daring. Tidak terkecuali Pusat Pendidikan dan Pelatihan Perpustakaan Nasional RI (Pusdiklat Perpusnas). Sejak akhir tahun 2020, Pusdiklat Perpusnas mengalihkan seluruh pembelajaran pelatihan yang selama ini dilakukan secara tatap muka menjadi pembelajaran berbasis e-learning.</P>
    <P>E-learning adalah singkatan dari elektronic learning atau pembelajaran elektronik. Bullen & Jeans (2007:176) mendefinisikan e-learning sebagai proses pembelajaran yang menggunakan teknologi internet untuk memfasilitasi, menyampaikan, dan memungkinkan berjalannya proses pembelajaran jarak jauh. Konsep pembelajaran ini sebenarnya bukan hal yang baru. E-learning telah dimulai pada tahun 1970-an (Waller dan Wilson, 2001). Berbagai istilah lain yang digunakan diantaranya adalah: online learning, internet-enabled learning, virtual learning, web based distance education, e-learning, web based teaching and learning.</P>
    <p>E-Learning memungkinkan proses mengajar dan belajar dapat dilakukan oleh siapa pun, kapan pun, dan di mana pun. Layaknya prinsip kegiatan online lainnya, jarak dan waktu tidak lagi menjadi penghalang untuk melakukan kegiatan, termasuk dalam hal ini adalah belajar.

        E-Learning sendiri kini sudah marak digunakan oleh hampir seluruh sekolah dan perguruan tinggi. Selain karena berubahnya zaman menjadi serba digital, situasi belakangan ini, di mana adanya pandemi Covid-19 yang terjadi di seluruh dunia, menuntut kita untuk melakukan segala hal secara online.</p>
    </ol>
</body>
</html>